.dy-wordpress-gutenberg-blocks-post-carousel-inspector-controls {

	.input-field {
		margin: 0 !important;

		&.input-type-number,
		&.input-type-text-short {
			width: 65px;
		}
	}

	.toggle-control-row {
		width: 100%;

		.components-flex {
			justify-content: space-between;

			label {
				flex: 0 1 auto;
				order: -1;
			}
		}
	}

	.select-row {
		width: 100%;

		> .components-base-control {
			width: 100%;
			margin: 0.5rem 0;
		}
	}

	.components-form-token-field {
		width: 100%;
	}

	.helper-text {
		display: block;
		font-size: 12px;
		color: rgb(117, 117, 117);
	}
}

.wp-block-dy-wordpress-gutenberg-blocks-post-carousel {

	.dy-post-list {

		.dy-post-list-item {

			.dy-post-list-item-link {
				pointer-events: none;
			}
		}
	}
}
