.wp-block-dy-wordpress-gutenberg-blocks-button-with-icon {
	display: flex;
	flex-wrap: nowrap;
	align-items: center;
	justify-content: center;
	gap: 0.75em;
	padding: 0.6em 1.2em;
	font-size: 1.2em;
	width: fit-content;
	margin-right: 0 !important;
	margin-left: 0 !important;
	color: #fff;
	background-color: #32373c;
	border: 2px solid;
	box-sizing: border-box;

	&.is-style-dy-button-with-icon-outline-button {
		color: #000;
		background-color: transparent !important;
	}

	.dy-wordpress-gutenberg-blocks-button-with-icon__icon {
		width: auto;
		height: 1em;
		flex-shrink: 0;

		&.icon-left {
			order: 0;
		}

		&.icon-right {
			order: 1;
		}
	}
}
